.addbook-container {
  display: block;
  /* height: 80vh; */
  width: 80%;
  /* padding: 40px; */
  margin: auto;
}
.form-main {
}
.main {
  width: 100%;
  height: 500px;
}
.mb-3 {
  margin-top: 20px;
}
.form-label {
  font-size: 1rem;
}
.form-control {
  padding: 10px;
  width: 100%;
  opacity: 0.5;
  /* border-color: #ccc; */
}
.add-book {
  margin-top: 20px;
}
button {
  padding: 16px;
  background-color: #fff;
  border: 1px #009f7f;
  color: #009f7f;
  cursor: pointer;
  border-style: none;
  border: 1px solid #ccc;
}
.options {
  width: 102%;
}
